header {
    display: block;
    background-color: #ffffff;
    width: 100%;
    min-width: 960px;
    border-bottom: 2px solid #cccccc;
}

.heading {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.heading nav{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: right;
    margin-bottom: 0em;
    margin-top: 4em;
}

nav a {
    text-decoration: none;
    color: #777777;
    font-size: 110%;
}

.container {
    min-height: calc(100vh - 4em);
    display: block;
}

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    position: relative;
    margin: 0;
    display: block;
    height: 100%;
}

.main_container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    width: 960px;
    padding-bottom: 4em;
}

.content {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

footer {
    width: 100%;
    height: 4em;
    background-color: #777777;
    position: absolute;
    border-top: 8px solid #4aaaa5;
    display: block;
    bottom: 0;
}

footer p {
    position: relative;
    font-size: 75%;
    text-align: center;
    color: #ffffff;
    top: 2.8em;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#profile_picture {
    float: left;
    margin-right: 1em;
    border: 2px solid #cccccc;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#index {
    padding-right: 1em;
    border-right: 1px solid #cccccc;
}

#portfolio {
    border-right: 1px solid #cccccc;
    padding-right: 1em;
    padding-left: 1em;
}

#contact {
    padding-left: 1em;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    display: inline-block;
    padding: 1em;
    width: auto;
    margin-bottom: 0%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.text {
    padding: 0.5em 0em 0.5em 0.5em;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 15em;
    resize: vertical;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0.5em 0em 0.5em 0.5em;

}

h3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.img_container {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.img_container img {
    z-index: -1;
}

.img_text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    text-align: center;
    background-color: #4aaaa5;
}

.img_text p {
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#portfolio_images {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 250px 250px;
}

#submit {
    border: none;
    border-radius: 4px;
    padding: 1em;
    margin-top: 0.5em;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 110%;
    transition: 0.25s;
}

a{
    transition: 0.25s;
}

.img_container img{
    transform: translateZ(0);
    transition: 0.25s;
}

a:hover {
    color: #979797;
}

.img_container:hover img{
    opacity: 0.8;
}

#submit:hover {
    background-color: #5ac7c1;
}